{% extends "bootstrap/base.html" %} {% import "bootstrap/wtf.html" as wtf %} {%
  block title %} Update User Information {% endblock %} {% block styles %} {{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}" />
  {% endblock %} {% block content %}
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="">LOGINATION</a>
      </div>
      <div id="navbar">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/signedin"><span class="glyphicon glyphicon-user"></span> {{ name }}</a>
          </li>
          <li>
            <a href="{{ url_for('logout') }}"
              ><span class="glyphicon glyphicon-log-out"></span> LOGOUT</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  
  <div class="container">
    <form class="form-signin" method="POST" action="/update/{{ user_to_update.id }}">
      {{ form.hidden_tag() }} 
      {{ wtf.form_field(form.password, placeholder="Create a new password") }} 
      <button class="btn btn-lg btn-primary btn-block" id="submit-button" type="submit">UPDATE</button>
    </form>
  </div>
  {% endblock %}
  